@import "tailwindcss";

@theme {
  --color-primary: #fcb424;
  --color-secondary: #0d0e10;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.1em; /* Adds spacing between letters for uppercase content */
}
